/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
  chosen {
    //zmk,matrix_transform = &default_transform;
    zmk,matrix_transform = &five_column_transform;
  };
};

/ {
    behaviors {
        hrm: homewrow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            require-prior-idle-ms = <125>;
            flavor = "tap-preferred";
        };

        hrs: homewrow_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_SHIFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
        };

        lh: layer_hold {
          compatible = "zmk,behavior-hold-tap";
          label = "LAYER_HOLD";
          bindings = <&mo>, <&kp>;

          #binding-cells = <2>;
          tapping-term-ms = <200>;
          flavor = "hold-preferred";
        };

        bspc: bspc_del_on_shift {
            compatible = "zmk,behavior-mod-morph";
            label = "BSPC_DEL_ON_SHIFT";
            bindings = <&kp BSPC>, <&kp DEL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // the following only USES one argument but requires 2, so pass in the layer as the
        // first param and a dummy value like 0 as second
        lhbs: layer_hold_bspc_override {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_HOLD_BSPC_OVERRIDE";
            bindings = <&mo>, <&bspc>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        space: space_tab_on_shift {
            compatible = "zmk,behavior-mod-morph";
            label = "SPACE_TAB_ON_SHIFT";
            bindings = <&kp SPACE>, <&kp TAB>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        ltsp: layer_tap_space_override {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_SPACE_OVERRIDE";
            bindings = <&mo>, <&space>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        comma: comma_semicolon_on_shift {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_SEMICOLON_ON_SHIFT";
            bindings = <&kp COMMA>, <&kp SEMI>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        dot: dot_colon_on_shift {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_COLON_ON_SHIFT";
            bindings = <&kp DOT>, <&kp COLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        escape {
            bindings = <&kp ESC>;
            key-positions = <1 2>;
            timeout-ms = <30>;
            layers = <0 1>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <27 28>;
            timeout-ms = <30>;
            layers = <0 1>;
        };

        copy {
            bindings = <&kp LG(C)>;
            key-positions = <22 21>;
            layers = <0>;
        };

        paste {
            bindings = <&kp LG(V)>;
            key-positions = <22 23>;
            layers = <0>;
        };

        cut {
            bindings = <&kp LG(X)>;
            key-positions = <21 23>;
            layers = <0>;
        };

        // copy_lin {
        //     bindings = <&kp LC(C)>;
        //     key-positions = <22 21>;
        //     layers = <1>;
        // };
        //
        // paste_lin {
        //     bindings = <&kp LC(V)>;
        //     key-positions = <22 23>;
        //     layers = <1>;
        // };
        //
        // cut_lin {
        //     bindings = <&kp LC(V)>;
        //     key-positions = <21 23>;
        //     layers = <1>;
        // };

    };

    keymap {
        compatible = "zmk,keymap";

        canary {
            label = "cnr";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮                      ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  F       │  P       │  B       │                      │  J       │  L       │  U       │  Y       │  '"      │
             &kp J      &kp L      &kp Y      &kp P      &kp K                             &kp Z      &kp F      &kp O      &kp U      &kp SQT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤                      ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  R       │  S       │  T       │  G       │                      │  M       │  N       │  E       │  I       │  O       │
        &hrm LCTRL C  &hrm LALT R  &hrm LGUI S  &hrs LSHFT T  &kp G                     &kp M   &hrs RSHFT N  &hrm RGUI E  &hrm RALT I  &hrm RCTRL A
        //├──────────┼──────────┼──────────┼──────────┼──────────┤                      ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  D       │  V       │                      │  K       │  H       │  , ;     │  . :     │  / ?     │
             &kp W      &kp Q      &kp V      &kp D      &kp B                             &kp X      &kp H      &kp FSLH   &comma  &dot    
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤                      ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                   &kp ESC   &mo 2      &bspc                             &space     &mo 3      &kp ENTER
        //                      ╰──────────┴──────────┴──────────╯                      ╰──────────┴──────────┴──────────╯
            >;
        };

        qwr {
            label = "qwr";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮                      ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │                      │  Y       │  U       │  I       │  O       │  P       │
             &kp Q      &kp W      &kp E      &kp R      &kp T                             &kp Y      &kp U      &kp I      &kp O      &kp P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤                      ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │                      │  H       │  J       │  K       │  L       │  '"      │
        &hrm LCTRL A  &hrm LALT S  &hrm LGUI D  &hrs LSHFT F  &kp G                     &kp H   &hrs RSHFT J  &hrm RGUI K  &hrm RALT L  &hrm RCTRL SQT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤                      ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │                      │  N       │  M       │  , ;     │  . :     │  / ?     │
             &kp Z      &kp X      &kp C      &kp V      &kp B                             &kp N      &kp M      &comma     &dot      &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤                      ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                  &kp LGUI    &mo 2      &bspc                              &space  &mo 3 &kp RIGHT_ALT
        //                      ╰──────────┴──────────┴──────────╯                      ╰──────────┴──────────┴──────────╯
            >;
        };

        sym_layer {
            label = "sym";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮      ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  !       │  @       │   #      │    $     │     %    │      │  ^       │   &      │  *       │  ~       │  `       │
        &kp EXCLAMATION  &kp AT     &kp HASH   &kp DOLLAR  &kp PERCENT    &kp CARET  &kp AMPS   &kp STAR   &kp TILDE  &kp GRAVE
        //├──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  <       │  [       │  {       │  (       │  \       │      │  |       │  )       │  }       │  ]       │  >       │
        &hrm LCTRL LESS_THAN  &hrm LALT LBKT  &hrm LGUI LBRC  &hrs LSHFT LPAR   &kp BSLH  &kp PIPE  &hrs RSHFT RPAR  &hrm RGUI RBRC  &hrm RALT RBKT  &hrm RCTRL GREATER_THAN
        //├──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│   \      │ ~        │ `~       │  "       │ '"       │      │  _       │   -      │  +       │  =       │  ?       │
        &kp BSLH         &kp TILDE  &kp GRAVE  &kp COLON   &kp SEMI       &kp UNDER      &kp MINUS    &kp PLUS    &kp EQUAL  &kp QMARK
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                &bootloader     &trans      &trans         &kp ESC  &kp TAB  &trans
        //                      ╰──────────┴──────────┴──────────╯      ╰──────────┴──────────┴──────────╯
            >;
        };

        nav_layer {
            label = "nav";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮      ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│    -     │     7    │     8    │     9    │    ,     │      │  PG UP   │  HOME    │    UP    │  END     │   INS    │
          &kp KP_MINUS    &kp N7      &kp N8      &kp N9   &kp COMMA          &kp PG_UP  &kp HOME    &kp UP     &kp END   &kp INS
        //├──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│     0    │     1    │     2    │    3     │    :     │      │  PG DN   │  LEFT    │  DOWN    │  RIGHT   │  DEL     │
          &hrm LCTRL N0   &hrm LALT N1  &hrm LGUI N2     &hrs LSHFT N3     &kp COLON           &kp PG_DN  &kp LEFT  &kp DOWN    &kp RIGHT   &kp DEL
        //├──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│     +    │     4    │     5    │    6     │    .    │      │  PRINT   │CAPS WORD │  CAPS    │  SHIFT   │   SL 4   │
          &kp KP_PLUS  &kp N4    &kp N5      &kp N6   &kp DOT            &kp PSCRN &caps_word   &kp CAPS &kp RSHFT  &sl 4
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                &trans  &kp TAB     &kp ENTER         &trans      &trans   &sys_reset
        //                      ╰──────────┴──────────┴──────────╯      ╰──────────┴──────────┴──────────╯
            >;
        };

        bt {
            display-name = "bt";
            bindings = <
              // TODO: consider matching the numpad layer in this arrangement
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮      ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│    F12   │    F7    │    F8    │    F9    │          │      │          │          │  to OS   │          │          │
           &kp F12    &kp F7     &kp F8     &kp F9       &trans            &trans     &trans     &to 1      &trans     &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│    F11   │    F4    │    F5    │    F6    │          │      │          │          │          │          │          │
           &kp F11    &kp F4     &kp F5     &kp F6       &trans         &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3
        //├──────────┼──────────┼──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│    F10   │    F1    │    F2    │    F3    │          │      │          │          │          │          │          │
           &kp F10    &kp F1     &kp F2     &kp F3       &trans            &trans     &trans     &trans     &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤      ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                   &trans     &trans     &trans            &trans     &trans     &trans
        //                      ╰──────────┴──────────┴──────────╯      ╰──────────┴──────────┴──────────╯
            >;
        };
    };
};
