/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hrm: homewrow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            require-prior-idle-ms = <125>;
            flavor = "tap-preferred";
        };

        hrs: homewrow_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_SHIFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
        };

        lh: layer_hold {
          compatible = "zmk,behavior-hold-tap";
          label = "LAYER_HOLD";
          bindings = <&mo>, <&kp>;

          #binding-cells = <2>;
          tapping-term-ms = <200>;
          flavor = "hold-preferred";
        };

        bspc: bspc_del_on_shift {
            compatible = "zmk,behavior-mod-morph";
            label = "BSPC_DEL_ON_SHIFT";
            bindings = <&kp BSPC>, <&kp DEL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // the following only USES one argument but requires 2, so pass in the layer as the
        // first param and a dummy value like 0 as second
        lhbs: layer_hold_bspc_override {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_HOLD_BSPC_OVERRIDE";
            bindings = <&mo>, <&bspc>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        space: space_tab_on_shift {
            compatible = "zmk,behavior-mod-morph";
            label = "SPACE_TAB_ON_SHIFT";
            bindings = <&kp SPACE>, <&kp TAB>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        ltsp: layer_tap_space_override {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_SPACE_OVERRIDE";
            bindings = <&mo>, <&space>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        comma: comma_semicolon_on_shift {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_SEMICOLON_ON_SHIFT";
            bindings = <&kp COMMA>, <&kp SEMI>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        dot: dot_colon_on_shift {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_COLON_ON_SHIFT";
            bindings = <&kp DOT>, <&kp COLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        escape {
            bindings = <&kp ESC>;
            key-positions = <2 3>;
            timeout-ms = <30>;
            layers = <0 1>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <32 33>;
            timeout-ms = <30>;
            layers = <0 1>;
        };

        // one handed copy/paste on mac
        copy {
            bindings = <&kp LG(C)>;
            key-positions = <26 27>;
            layers = <0>;
        };

        paste {
            bindings = <&kp LG(V)>;
            key-positions = <27 28>;
            layers = <0>;
        };

        cut {
            bindings = <&kp LG(X)>;
            key-positions = <26 28>;
            layers = <0>;
        };

        // TODO: if the power cycle toggle layer issue has a work around, implement the following combos on that layer
        // one handed cut copy paste for linux and windows
        // copy_lw {
        //     bindings = <&kp LC(C)>;
        //     key-positions = <26 27>;
        //     layers = <1>;
        // };
        //
        // paste_lw {
        //     bindings = <&kp LC(V)>;
        //     key-positions = <27 28>;
        //     layers = <1>;
        // };
        //
        // cut_lw {
        //     bindings = <&kp LC(X)>;
        //     key-positions = <26 28>;
        //     layers = <1>;
        // };
    };

    keymap {
        compatible = "zmk,keymap";

        canary {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  '  | BKSP |
            // | CTRL |  A  |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |  O  | ENT  |
            // | SHFT |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  /  | SHFT |
            //                    | GUI | LWR | ESC |   | SPC | RSE  | ALT |

            display-name = "cnr";
            bindings = <
&kp TAB           &kp J           &kp L         &kp Y         &kp P           &kp K      &kp Z      &kp F           &kp O        &kp U          &kp SQT        &kp BSPC
&mt LCTRL ESCAPE  &hrm LCTRL C    &hrm LALT R   &hrm LGUI S   &hrs LSHIFT T   &kp G      &kp M      &hrs RSHIFT N   &hrm RGUI E  &hrm RALT I    &hrm RCTRL A   &kp ENTER
&kp LSHFT         &kp W           &kp Q         &kp V         &kp D           &kp B      &kp X      &kp H           &kp FSLH     &comma         &dot           &kp RSHIFT
                                                        &kp ESC         &mo 2              &bspc    &space      &mo 3        &kp ENTER
            >;
        };

        // TODO: the linux layer hack does not work, as tog layer switches don't persist through power cycles
        // lin {
        //
        //     display-name = "lin";
        //     bindings = <
        //       &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  
        //       &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  
        //       &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  
        //                               &trans  &trans  &trans  &trans  &trans  &trans
        //     >;
        // };

        qwr {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  '  | ENT  |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | SHFT |
            //                    | GUI | LWR | ESC |   | SPC | RSE  | ALT |

            display-name = "qwr";
            bindings = <
&kp TAB           &kp Q           &kp W         &kp E         &kp R          &kp T      &kp Y      &kp U            &kp I        &kp O          &kp P            &kp BSPC
&mt LCTRL ESCAPE  &hrm LCTRL A    &hrm LALT S   &hrm LGUI D   &hrs LSHIFT F  &kp G      &kp H      &hrs RSHIFT J    &hrm RGUI K  &hrm RALT L    &hrm RCTRL SQT   &kp ENTER
&kp LSHFT         &kp Z           &kp X         &kp C         &kp V          &kp B      &kp N      &kp M            &comma       &dot           &kp FSLH         &kp RSHIFT
                                                        &kp LGUI         &mo 2              &bspc    &space  &mo 3               &kp RALT
            >;
        };

        sym {
            // -----------------------------------------------------------------------------------------
            // |      |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  ~  |  `  |      |
            // |      |  <  |  [  |  {  |  (  |  \  |   |  |  |  )  |  }  |  ]  |  >  |      |
            // |      |  \  |  ~  |  `  |  :  |  ;  |   |  _  |  -  |  +  |  =  |  ?  |      |
            //                    |     |     |     |   | BKSP| TAB |     |

            display-name = "sym";
            bindings = <
&trans  &kp EXCLAMATION  &kp AT     &kp HASH   &kp DOLLAR  &kp PERCENT    &kp CARET      &kp AMPS   &kp STAR  &kp TILDE  &kp GRAVE         &trans
&trans &hrm LCTRL LESS_THAN  &hrm LALT LBKT  &hrm LGUI LBRC  &hrs LSHFT LPAR   &kp BSLH  &kp PIPE  &hrs RSHFT RPAR  &hrm RGUI RBRC  &hrm RALT RBKT  &hrm RCTRL GREATER_THAN &trans
&trans  &kp BSLH         &kp TILDE  &kp GRAVE  &kp COLON   &kp SEMI       &kp UNDER      &kp MINUS  &kp PLUS  &kp EQUAL  &kp QMARK         &trans
                                    &trans     &trans      &trans         &kp ESC  &kp TAB    &trans
            >;
        };
//TODO: fix below graphic
        nav {
            // -----------------------------------------------------------------------------------------
            // |      |  *  |  7  |  8  |  9  |  ,  |   |PGUP | HME | UP  | END |BKSP  |      |
            // |      |  -  |  4  |  5  |  6  |  .  |   |PGDWN| LFT | DWN |RGHT | DEL  |      |
            // |      |  +  |  1  |  2  |  3  | TAB |   |sl 3 |CAPS |CWORD|RSHFT|ORSHFT|      |
            //                    |     |  0  | ENT |   |     |     |    |

            display-name = "nav";
            bindings = <
// consider this config?
// &trans  &kp STAR      &kp N7  &kp N8  &kp N9  &kp COMMA          &kp INS    &kp HOME    &kp UP    &kp END    &kp PG_UP  &trans
// &trans  &kp KP_MINUS  &kp N4  &kp N5  &kp N6  &kp DOT            &kp DEL    &kp LEFT    &kp DOWN  &kp RIGHT  &kp PG_DN  &trans
&trans  &kp STAR      &kp N7  &kp N8  &kp N9  &kp COMMA          &kp PG_UP  &kp HOME    &kp UP    &kp END    &kp INS    &trans
&trans  &hrm LCTRL KP_MINUS  &hrm LALT N4  &hrm LGUI N5  &hrs LSHFT N6  &kp DOT            &kp PG_DN  &kp LEFT    &kp DOWN  &kp RIGHT  &kp DEL    &trans
&trans  &kp KP_PLUS   &kp N1  &kp N2  &kp N3  &kp TAB            &kp PSCRN  &caps_word  &kp CAPS  &kp RSHFT  &sl 4      &trans
                              &trans  &kp N0  &kp ENTER          &trans     &trans      &trans
            >;
        };

        // -----------------------------------------------------------------------------------------
        // | BT5  | BT1 | BT2 | BT3 | BT4 |BTCLR|   |     |     |     | F11 | F12 |     |
        // | F12  | F1  | F2  | F3  | F4  | F5  |   | F6  | F7  |  F8 | F9  | F10 | F11 |
        // |      |     |     |     |     |     |   |     |     |     |     |     |     |
        //                    |     |     |     |   |     |     |     |

        bt {
            display-name = "bt";
            bindings = <
&trans       &kp F12       &kp F7        &kp F8        &kp F9        &trans        &trans  &trans  &tog 1  &trans  &trans   &trans
&trans       &kp F11       &kp F4        &kp F5        &kp F6        &trans        &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
&trans       &kp F10       &kp F1        &kp F2        &kp F3        &trans        &trans  &trans  &trans  &trans  &trans   &trans
                                         &trans        &trans        &trans        &trans  &trans  &trans
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
